.workoutHolder{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: salmon;
}
.workout{
    border: 2px solid black;
    border-bottom: 1px solid black;
    width: 153px;
}
.day{
    width: 100vw;
    text-align: center;
}
.text{
    width: 100%;
    text-align: center;
}
.buttonHolder{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.upButton{
    position: relative;
    right: 0px;
}

